* {
  outline: 0px solid cyan;
}

body {
  font-size: 15px;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Roboto Slab';
  background: url(fondo.png);
}

body header {
  margin-top: 50px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
  body header {
    margin-top: 30px;
  }
}

body main .back {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

body main .cover {
  margin: auto;
  margin-top: 60px;
  width: 774px;
  height: 538px;
  background: url(portada.svg) no-repeat;
  overflow: hidden;
}

body main .fondo-indice {
  margin-top: 100px;
}

body main .boton {
  height: 45px;
  width: 45px;
  border-radius: 50px;
  border: 2px solid #747474;
  margin: auto;
  clear: both;
}

body main .boton a {
  display: inline-block;
  height: 100%;
  width: 100%;
}

body main .columna {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 767px) and (orientation: portrait) {
  body main .columna {
    margin-top: 20px;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  body main .columna {
    padding-left: 45px;
  }
}

body main .columna .marco {
  width: 280px;
  padding: 10px;
  padding-bottom: 40px;
  height: 360px;
  border-radius: 30px;
  background-color: #444444;
  margin-right: 10px;
  box-shadow: 10px 10px #2d2d2d;
}

body main .columna .marco .screen {
  border-radius: 30px;
  height: 260px;
  margin-bottom: 20px;
  background-color: #363636;
}

body main .columna .titulo h4 {
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-weight: 400;
  font-family: times;
}

body main .columna .titulo p {
  margin-bottom: 15px;
}

body main .columna p {
  font-size: 12px;
}

body main .columna a {
  color: white;
  margin-right: 8px;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

body main .columna a:hover {
  text-decoration: none;
  color: #747474;
}

body main .columna .indice {
  font-family: "Roboto Mono";
  font-weight: 300;
}

body main .columna .indice p:first-child {
  margin-top: 5px;
}

body main .columna .indice p:first-child a:nth-child(1) {
  margin-left: 0px;
  margin-right: 16px;
  font-family: 'Roboto Slab';
}

body main .index .marco {
  height: 400px;
  box-shadow: 10px 10px #2d2d2d;
}

body main .index .marco .screen {
  height: 300px;
}

body main .index .titulo {
  margin-bottom: 20px;
}

body main .texto {
  background-color: #f36708;
  box-shadow: 5px 10px #783304;
  line-height: 180%;
  padding: 150px 10px 80px 60px;
  text-align: justify;
  letter-spacing: 0.05em;
}

body main .texto .frasco {
  background-color: white;
  padding: 55px;
}

@media (max-width: 767px) and (orientation: portrait) {
  body main .texto .frasco {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  body main .texto {
    margin-top: 30px;
  }
}

@media (max-width: 767px) and (orientation: portrait) {
  body main .texto {
    padding: 100px 10px 80px 20px;
  }
}

body main .texto h3 {
  text-align: center;
  color: #4d4d4b;
  margin-top: 30px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 1px solid #4d4d4b;
}

@media (max-width: 767px) {
  body main .texto h3 {
    margin-top: 30px;
  }
}

body main .texto p {
  text-indent: 25px;
  margin-bottom: 20px;
}

body main .texto p:nth-last-child(2) {
  border-bottom: 1px solid #999;
  padding-bottom: 30px;
}

body main .texto p:last-child {
  padding-top: 100px;
  text-align: right;
  line-height: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  body main .texto p:last-child {
    padding-top: 50px;
  }
}

body main .texto p:last-child a {
  margin-left: 10px;
  color: #4d4d4b;
}

body main .texto p:last-child a:hover {
  color: #f36708;
  text-decoration: none;
}

body main .texto blockquote {
  font-size: 14px;
  margin-bottom: 0px;
  border: none;
  padding: 5px 20px;
  line-height: 150%;
}

body main .texto blockquote:last-of-type {
  margin-bottom: 20px;
}

body main .portada {
  margin-top: 70px;
  background: white;
  padding-left: 80px;
  padding-right: 0px;
  border-radius: 10px;
  text-align: justify;
  letter-spacing: 0.05em;
}

@media (max-width: 767px) {
  body main .portada {
    margin-top: 30px;
    padding-left: 60px;
  }
}

body main .portada .sheet {
  border-left: 3px double red;
  padding: 40px 0px 20px 0px;
}

body main .portada .sheet p {
  color: black;
  border-top: 1px solid lightblue;
  line-height: 160%;
  margin: 0 0;
  padding-left: 60px;
  text-align: left;
}

@media (max-width: 767px) and (orientation: portrait) {
  body main .portada .sheet p {
    padding-left: 30px;
  }
}

body main .portada .sheet p:first-child {
  margin-top: 40px;
}

body main .portada .sheet p:first-child a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Roboto Mono';
  color: #000000;
}

body main .portada .sheet p:first-child a:hover {
  color: initial;
}

body main .portada .sheet p:nth-child(2) a:hover {
  color: initial;
}

body main .portada .sheet p:last-child {
  margin-bottom: 0px;
}

body main .portada .sheet p a {
  font-weight: 300;
  font-family: 'Roboto Mono';
  font-size: 13px;
  color: initial;
  margin-right: 8px;
  -webkit-transition: color 100ms linear;
  transition: color 100ms linear;
}

body main .portada .sheet p a:hover {
  text-decoration: none;
  color: red;
}

body footer {
  margin-top: 150px;
}
